*{
    margin: 0;
    padding:0; 
}
body{
    font-family:Arial, Helvetica, sans-serif
}



header{
    position: relative; 
    padding: 0 2rem;
    background: grey;
}

header .navbar{
        width: 100%;
        max-width: 1200px;
       /* border: 1px solid yellow;*/
        margin: 0 auto;
        height: 60px;
        display: flex;
        align-items: center;
}

header .navbar  .links{
    display: flex;
    margin-left: 50rem;
    gap: 1rem;

}

.links li{
    list-style: none;
}


.links li a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 1.4rem; 
}

.accueil{
    width: 100%;
    background-color: rgba(140, 140, 140, 0.243);
    padding: 2rem ;
    margin-bottom: 2rem; 
}


.contacts{
    background-color:  rgba(140, 140, 140, 0.243);
    padding: 2rem;
    margin-bottom: 3rem;
}

.contact .forms{
    display: flex;
    flex-direction: column; 
    width: 500px;
}

footer{
    display: flex;
    background-color: grey;
    margin:0 auto;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    
}



